@import "tailwindcss";

@font-face {
  font-family: "Tanker";
  src: url("/fonts/Tanker-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/Clash-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background-color: #ffffff;
  --font-logo: "Tanker", sans-serif;
  --font-body: "Clash Display", sans-serif;
}


